/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
body {
    color: white;
}

.hlavni-recept {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/salat.jpg);
    min-height: 200px;
    /* filter: brightness(80%); */
}

.recept2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/chlebicek.jpg);
}

.recept3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/tacos.jpg);
}

.recept4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/cizrna.jpg);
}

.recept5 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/burger.jpg);
}

.maly {
    min-height: 90px;
}

.hlavni-recept, .maly {
    padding: 10px;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recept-nazev {
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}

.hlavni-recept-nazev {
    margin: 0;
    font-size: 28px;
    font-weight: 800;
}

.recept-meta {
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0;
}

.paticka {
    display: none;
}

@media (max-width: 479px) {
    .recepty {
        display: flex;
        flex-direction: column;
    }

    .recept2 {
        order: 1;
    }
    .recept3 {
        order: 3;
    }
    .recept4 {
        order: 2;
    }
    .recept5 {
        order: 4;
    }
}

@media (min-width: 480px) {
    .hlavni-recept, .maly {
        padding: 20px;
    }

    .hlavni-recept {
        min-height: 250px;
    }
    
    .recepty {
        display: flex;
        flex-wrap: wrap;
    }
    
    .maly {
        min-height: 150px;
        flex: 1 1 50%;
    }
    
    .maly:nth-child(2n+1) {
        border-right: 1px solid white;
    }

    .recept-nazev {
        font-size: 22px;
    }

    .hlavni-recept-nazev {
        font-size: 36px;
    }
}

@media (min-width: 860px) { 
    .obal {
        display: flex;
    }
    
    .hlavni-recept {
        min-height: 400px;
        width: 50%;
        border-right: 1px solid white;
    }

    .maly {
        min-height: 200px;
    }
    
    .recept-nazev {
        font-size: 28px;
    }

    .hlavni-recept-nazev {
        font-size: 48px;
    }
}